<ul class="demo-examples">
	{{#icons}}
	<li class="demo-example">
		<img src='../../svg/{{name}}.svg' class="o-icons-icon o-icons-icon--{{name}} demo-icon">
		<span class="demo-label">{{name}}</span>
	</li>
	{{/icons}}
</ul>

<p class="demo-count">{{icons.length}} icons</p>
